.carousel{
    display: flex;
    gap: 20px;
}
.carousel-button{
    width: 150px;
    height: 50px;
    border: 3px #452B1A solid;
    margin: auto;
    margin-top: 40px;
    transition: transform 0.5s;
    text-decoration: none;
    color: #452B1A;
    font-size: 20px;
}
.carousel-button:hover{
    transform: scale(1.05);
}